# invocation artifacts
package-backup/
apt-cache/

.classpath
.idea/
.idea/*
.project
.prefs
.settings/

# operating system
.DS_store
.netrwhist

# nested projects
data/work/kv4p-ht/.git

# file extensions
*.sass-cache
*.scss
*.vscode
*.css
*.git
*.iso
*.class

# certificate related
**/certs/
*.crt
*.key
*.pem
*.p12
*.csr

# Ignore all large file part directories by default
*-parts/
*-parts/*
resources/os/components/icons/payload.tar
target/
certs/
